.header {
    width: 100%;
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow-x: hidden;
    box-sizing: border-box;
}

.logo img {
    height: 40px; /* Высота логотипа */
}

/* Навигация */
.navbar {
    display: flex;
    gap: 20px; /* Промежуток между ссылками */
    justify-content: space-between;
}

.navbar__link {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar__link:hover {
    color: #106137; /* Цвет при наведении */
}

/* Адаптивные стили для мобильных устройств */
@media (max-width: 768px) {
    .header {
        flex-direction: column; /* Вертикальное расположение на мобильных устройствах */
        align-items: flex-start; /* Выравнивание по левому краю */
        padding: 10px; /* Уменьшенные отступы */
    }

    .navbar {
        flex-direction: column; /* Вертикальное расположение навигации */
        gap: 10px; /* Уменьшенный промежуток между ссылками */
        width: 100%; /* Ширина навигации на всю ширину */
    }

    .navbar__link {
        width: 100%; /* Ссылки занимают всю ширину */
        text-align: left; /* Выравнивание текста влево */
        padding: 10px; /* Добавление отступов для кликабельности */
    }
}

/* Общие стили для устранения проблем с выходом за границы экрана */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}